#console {
  background-image: linear-gradient(rgb(158, 15, 158), rgb(190, 14, 146));
  color: rgb(255, 251, 0);
  position: relative;
  width: 1300px;
  height: 1300px;
  margin: auto;
  text-align: center;
  padding: 50px;
  border: 1px;
  border-radius: 10px;


}
#scoreBox {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px;
  color:  rgb(255, 251, 0);
  background-image: radial-gradient(rgb(6, 41, 236), rgb(9, 96, 226), rgb(25, 151, 253));
padding : 10px;
}
.over {
  font-size: 24pt;
   margin: auto;
    position: static!important;
     width:10em;
    text-align: center;
}
a{
  color:yellow;
}